<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://localhost:3000/">
      <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Worker Details
    </a>
    <%= link_to "New Worker", new_worker_path%>
  </div>
  
</nav>
<hr>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Worker Name</th>
      <th scope="col">Shift</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
<% @workers.each do |worker| %>
    <tr>
    <%if worker.name != nil%>
      <th scope="row"><%= link_to worker.name.capitalize, worker %></th>
      <td><%= worker.shift%></td>
      <td><%= worker.date%></td>
      <%end%>
    </tr> 
<% end %>

</tbody>
</table>

